<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="com.tersesystems.jmxmvc" level="TRACE"/>

    <logger name="javax.management" level="INFO"/>
    <logger name="com.sun.jmx" level="INFO"/>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>